:root {
    --primary-color: #bebebe;
    --second-color: #6cc8fa;
    --third-color: #3dadb9;
    --fourth-color: #f2f2f2;
    --fifth-color: #00B4CC;
    --sixth-color: #ffffff;
  }

  header nav ul { 
    text-decoration: none;
    font-family: play;
   list-style-type:none;
  }

  #left {
    position:absolute;
    /* right: 160px; */
    top: 24px;
    float: left;
  }

 #right {
    position:absolute;
    right: 160px;
    top: 0;
    float: right;
  }

  .searchBtn { 
    position:absolute;
    right: 73px;
    top: 24px;
    width: 40px;
    height: 34px;
    border: 1px solid var(--fifth-color);
    background: var(--fifth-color);
    text-align: center;
    color: var(--sixth-color);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  .searchBtn:focus{
      color: var(--second-color);
    }
  
    input[type="text"]::placeholder {                    
      text-align: center; 
  }

  .pbox {
    position: relative;
    display: flex;
    border: 1px solid var(--second-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--second-color);
    width: 50%;
    height: 36%;
    margin-bottom: 15px; 
    border-radius: 10px 0 0 10px;
    background-color: rgba(255,255,255, 0.75);    
  }
  
  .pbox:focus{
    color: var(--second-color);
  }
  

  footer { 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-decoration: none;
    font-family: play;
    list-style-type: none;
    text-align: center;
  }

 
  