:root {
    --primary-color: #bebebe;
    --second-color: #6cc8fa;
    --third-color: #3dadb9;
    --fourth-color: #f2f2f2;
  }

  header nav ul { 
    text-decoration: none;
    font-family: play;
   list-style-type:none
  }

  footer ul { 
    text-decoration: none;
    font-family: play;
   list-style-type: none;
   text-align: center;
  }
  

  body{
    background: var(--fourth-color);
    font-family: play;
    background-size: 100%;
  }
  
  .continer {
    min-height: 100vh;
    display: block;
    margin-left: 470px;
    margin-top: 200px;
  }

  .wrapper{
    max-width: 1280px;
    margin-left: -200px;
    background: var(--fourth-color);
    text-align: center;
  }

  .search-poke{
    margin: 2rem 0;
  }

  .fav-Poke{
    margin-bottom: 2%;
    padding-left: 15%;
    display: flex;
  }

  .psearch {
    margin: 0 10%;
    padding-left: 5%;
    display: flex;
    align-items: stretch;
  }

  .poke-img {
    margin-left: -30px;
    margin-top: -80px;
  }

.pbox {
    position: relative;
    display: flex;
    border: 1px solid var(--second-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--second-color);
    width: 50%;
    height: 36%;
    margin-bottom: 15px; 
    border-radius: 10px 0 0 10px;
    background-color: rgba(255,255,255, 0.75);    
  }
  
  .pbox:focus{
    color: var(--second-color);
  }


.searchBtn {
  width: 40px;
  height: 34px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.searchBtn:focus{
    color: var(--second-color);
  }

  input[type="text"]::placeholder {                    
    text-align: center; 
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (min-width: 1200px) {
  .psearch {
    margin-left: 20%;
  }

  .fav-Poke{
    margin-bottom: 2%;
    padding-left: 25%;
    display: flex;
  }

  .poke-img {
    margin-left: 7%;
    margin-top: -80px;
  }
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

}