:root {
    --primary-color: #bebebe;
    --second-color: #6cc8fa;
    --third-color: #3dadb9;
    --fourth-color: #f2f2f2;
  }

  header nav ul { 
    text-decoration: none;
    font-family: play;
   list-style-type:none
  }

  footer ul { 
    text-decoration: none;
    font-family: play;
   list-style-type: none;
   text-align: center;
  }
  

  body{
    background: var(--fourth-color);
    font-family: play;
    background-size: 100%;
  }
  
  .continer {
    display: block;
    margin-left: 470px;
    margin-top: 200px;
  }

  .Psearch {
    width: 100%;
    position: relative;
    margin-left: 100px;   
    display: flex;
  }

.pbox {
    position: relative;
    display: flex;
    border: 1px solid var(--second-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--second-color);
    width: 50%;
    height: 36%;
    margin-bottom: 15px; 
    border-radius: 10px 0 0 10px;
    background-color: rgba(255,255,255, 0.75);    
  }
  
  .pbox:focus{
    color: var(--second-color);
  }

.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.searchBtn {
  width: 40px;
  height: 34px;

  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.searchBtn:focus{
    color: var(--second-color);
  }

  input[type="text"]::placeholder {                    
    text-align: center; 
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

}